.header {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.name {
    font-size: 30px !important;
  }

.a {
    font-size: 20px !important;
}

  /* Need to comeback and remove the !Important modifiers and instead find work arounds */